{%- comment -%}
Dynamic section for reviews slider by jesperahlbom.com
{%- endcomment -%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

        <!-- Link Swiper's CSS -->
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

        <!-- Swiper JS -->
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<div class="section-{{ section.id }}-padding" style="background-color: #f3f3f3!important;">
    

<div class="logo-slider">
<!-- <div class="logo-slide-track"> -->
    <div class="slide">
        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M50 100H48.3406L58.7563 72.0875H72.9156C75.4219 72.0875 77.9125 70.0031 78.7437 67.9219L90.0063 37.5031C91.6656 32.5063 88.7531 28.3406 83.7563 28.3406H64.1594L38.7531 98.75C16.2437 93.3313 0 73.75 0 50.0031C0 27.0875 15.4125 7.9125 36.6688 1.6625L27.0813 28.3375L10.8375 72.0875H21.2531L34.5844 34.9937H42.4937L29.1625 72.0875H39.5781L52.0781 37.5C53.7375 32.5031 51.2469 28.3375 45.8281 28.3375H37.4938L47.9094 0H49.9938C77.5 0 99.9937 22.4937 99.9937 50C99.9937 77.5063 77.5 100 49.9938 100H50ZM80.4187 34.5875H72.4937L61.2469 65.0063H69.1719L80.4187 34.5875Z" fill="black"/></svg>
    </div>
    <div class="slide">
        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_174_20)"><path d="M96.1917 54.85C96.3833 54.85 96.4917 54.7959 96.4917 54.5917C96.4917 54.3917 96.3875 54.3459 96.1875 54.3459H95.7625V54.85H96.1917ZM95.7625 55.025V55.5625H95.575V54.1667H96.1958C96.55 54.1667 96.6833 54.3084 96.6833 54.5834C96.6833 54.8084 96.5875 54.9625 96.35 55.0084L96.6625 55.5584H96.4625L96.15 55.0209L95.7625 55.025ZM96.0708 53.8084C95.7916 53.8095 95.5241 53.9209 95.3266 54.1183C95.1292 54.3158 95.0178 54.5833 95.0167 54.8625C95.0167 55.4459 95.4917 55.9209 96.0708 55.9209C96.3508 55.9198 96.6189 55.8078 96.8165 55.6094C97.0141 55.4111 97.125 55.1425 97.125 54.8625C97.125 54.5829 97.0139 54.3148 96.8162 54.1171C96.6185 53.9194 96.3504 53.8084 96.0708 53.8084V53.8084ZM94.8625 54.8625C94.8636 54.5424 94.9913 54.2357 95.2176 54.0093C95.444 53.783 95.7507 53.6553 96.0708 53.6542C96.391 53.6553 96.6977 53.783 96.924 54.0093C97.1504 54.2357 97.2781 54.5424 97.2792 54.8625C97.2792 55.1834 97.152 55.4912 96.9255 55.7184C96.699 55.9457 96.3917 56.0739 96.0708 56.075C95.7507 56.0739 95.444 55.9463 95.2176 55.7199C94.9913 55.4935 94.8636 55.1868 94.8625 54.8667V54.8625ZM8.425 52.1125V36.7917H6.66667V52.1125C6.66667 55.6542 6.80417 58.5 0.666667 58.5C0.444384 58.5003 0.222118 58.4961 0 58.4875L0 60.1417C0.222177 60.1473 0.444418 60.1501 0.666667 60.15C8.10833 60.15 8.425 56.8167 8.425 52.1125V52.1125ZM73.175 45.0417H86.2333C86.0583 41.2167 85.8125 37.9542 80.2333 37.9542C74.8583 37.9542 73.3875 40.8667 73.175 45.0375V45.0417ZM80.2667 36.3375C87.7417 36.3375 87.9875 41.3542 87.9542 46.6542H73.1417C73.175 51.3209 74.3333 54.8 80.4042 54.8C83.6333 54.8 85.1125 53.925 86.6875 52.7625L87.6708 54.0625C85.9167 55.3625 83.8458 56.3792 80.4042 56.3792C72.8208 56.3792 71.4208 51.9917 71.4208 46.3375C71.4208 40.6917 73.0375 36.3375 80.2667 36.3375ZM62.9792 47.6084C66.0792 47.6084 67.6208 46.1 67.6208 43.05C67.6208 39.9959 65.9583 38.55 62.9042 38.55H55.7V47.6125L62.9792 47.6084ZM62.9583 36.8334C67.4083 36.8334 69.425 39.0417 69.425 42.975C69.425 46.9334 67.4333 49.3375 62.9333 49.3375H55.7042V55.9959H53.9875V36.8334H62.9583ZM50.7708 36.8334V56H49.0542V36.8334H50.7708ZM45.7958 56H44.0042V44.275C44.0042 40.9042 44.0417 38.0625 37.8625 38.0625C31.7208 38.0625 31.8625 40.9042 31.8625 44.45V55.9959H30.1042V44.45C30.1042 39.7459 30.4208 36.4084 37.8625 36.4084C45.3375 36.4084 45.7958 39.7459 45.7958 44.3084V56ZM11.4458 36.7917H13.2375V48.5167C13.2375 51.8875 13.1958 54.725 19.375 54.725C25.5167 54.725 25.375 51.8875 25.375 48.3417V36.7917H27.1333V48.3417C27.1333 53.0417 26.8167 56.3792 19.375 56.3792C11.9 56.3792 11.4458 53.0459 11.4458 48.4792V36.7917ZM90.475 44.4459V55.9917H92.2292V44.4459C92.2292 40.9042 92.0875 38.0584 98.2292 38.0584C98.8917 38.0584 99.475 38.0917 100 38.1542V36.4834C99.4125 36.4326 98.823 36.4076 98.2333 36.4084C90.7917 36.4084 90.475 39.7417 90.475 44.4459V44.4459ZM88.6792 62.6125C89.2434 62.9732 89.9012 63.1601 90.5708 63.15C91.6625 63.15 92.15 62.8417 92.15 62.1125C92.15 61.3625 91.5208 61.2542 90.5667 61.0834C89.4292 60.8834 88.6542 60.6917 88.6542 59.6209C88.6542 58.5959 89.3125 58.1959 90.5708 58.1959C91.4 58.1959 91.9917 58.3834 92.4125 58.6709L92.1125 59.1292C91.648 58.8481 91.1137 58.7037 90.5708 58.7125C89.6208 58.7125 89.2125 58.975 89.2125 59.6042C89.2125 60.275 89.7625 60.4042 90.7042 60.575C91.8625 60.7834 92.7 60.9542 92.7 62.0917C92.7 63.1417 92.0292 63.6459 90.5833 63.6459C89.8085 63.671 89.0442 63.4603 88.3917 63.0417L88.6792 62.6125ZM85.3917 60.7709L84.3333 61.925V63.575H83.7833V58.2834H84.3333V61.2042L87.0125 58.2875H87.6625L85.7625 60.3625L87.9208 63.575H87.2833L85.3917 60.7709V60.7709ZM80.8083 60.9042C81.5583 60.9042 82.0167 60.675 82.0167 59.8417C82.0167 59.0209 81.5708 58.8042 80.7833 58.8042H79.0625V60.9042H80.8083ZM80.65 61.4209H79.0667V63.575H78.5125V58.2834H80.8C82.0292 58.2834 82.5833 58.775 82.5833 59.825C82.5833 60.7417 82.15 61.275 81.225 61.3959L82.5042 63.575H81.9042L80.65 61.4209V61.4209ZM76.8 60.9334C76.8 59.5042 76.1333 58.7334 74.6917 58.7334C73.2542 58.7334 72.6 59.5042 72.6 60.9334C72.6 62.3709 73.2542 63.1417 74.6917 63.1417C76.1333 63.1417 76.8 62.3709 76.8 60.9334ZM74.6917 58.1959C76.3917 58.1959 77.3625 59.0417 77.3625 60.925C77.3625 62.8209 76.3917 63.6625 74.6917 63.6625C73 63.6625 72.0333 62.8209 72.0333 60.925C72.0333 59.0417 73 58.1959 74.6917 58.1959V58.1959ZM64.8708 58.2834L66.2625 62.6584L67.6833 58.2834H68.1708L69.5875 62.6584L70.9833 58.2834H71.525L69.825 63.6125H69.3417L67.9125 59.2042L66.4917 63.6125H66L64.2917 58.2834H64.8708ZM59.0708 58.8209V58.2834H63.6042V58.8209H61.6208V63.575H61.0542V58.8209H59.0708ZM58.2208 58.2834V58.8209H55.2833V60.5709H58.15V61.1H55.2833V63.0584H58.25V63.575H54.7208V58.2834H58.2208ZM49.6625 58.2834L52.8292 62.65V58.2834H53.3708V63.575H52.8542L49.5917 59.0834V63.575H49.05V58.2834H49.6625Z" fill="black"/></g><defs><clipPath id="clip0_174_20"><rect width="100" height="100" fill="white"/></clipPath></defs></svg>
    </div>
    <div class="slide">
        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_174_12)"><path d="M74.853 60.8406V38.8531H79.9312V56.3656H88.8499V60.825H74.853V60.8406ZM34.0812 47.1344L46.4999 37.5813C47.6718 38.525 48.828 39.4844 49.9999 40.4469L38.2155 49.3656L40.7718 51.5969L52.5405 42.3531L56.0562 45.2344C52.1499 48.3281 48.2124 51.4031 44.2718 54.4625L46.8124 56.6938L58.6124 47.1406L58.5968 38.8563H63.6905V56.3688H72.9343V60.8281H58.9218V52.5594C54.7718 55.7344 50.6374 58.9219 46.503 62.0969L34.0843 52.5594C33.4812 55.5875 31.3655 58.225 28.6155 59.6062C27.428 60.225 26.1249 60.6156 24.8062 60.7625C24.0405 60.8594 23.2749 60.8281 22.5124 60.8281H14.6499V38.8563H23.7155C26.0749 38.8875 28.3718 39.7031 30.2249 41.1844C32.1138 42.7066 33.4653 44.7941 34.0812 47.1406V47.1344ZM19.4343 43.3094V56.6875H23.4062C24.2399 56.657 25.0571 56.4462 25.8015 56.0697C26.546 55.6931 27.2 55.1597 27.7187 54.5062C28.5935 53.4073 29.1314 52.0785 29.2672 50.6805C29.4031 49.2824 29.1312 47.8749 28.4843 46.6281C28.0725 45.8372 27.4965 45.1433 26.7947 44.5931C26.093 44.0428 25.2819 43.6488 24.4155 43.4375C23.7155 43.275 22.9999 43.3062 22.2999 43.3062L19.4343 43.3094ZM49.2499 0H50.6499C58.5124 0.096875 66.2249 2.06562 73.1749 5.7125C79.9562 9.28529 85.8341 14.3564 90.3624 20.5406C96.4816 28.8767 99.8494 38.9133 99.9968 49.2531V50.75C99.8371 63.2008 95.0299 75.1424 86.5187 84.2313C81.9248 89.1295 76.3903 93.0508 70.246 95.7608C64.1017 98.4708 57.474 99.9136 50.7593 100.003H49.2468C43.3372 99.9186 37.4898 98.7832 31.978 96.65C25.0337 93.9399 18.7774 89.7224 13.6603 84.3016C8.54328 78.8809 4.69307 72.392 2.3874 65.3031C0.877551 60.5974 0.0709326 55.6945 -0.00634766 50.7531V49.2563C0.156152 39.7688 3.0374 30.5063 8.29365 22.6125C13.1978 15.196 19.9672 9.2005 27.9218 5.22812C34.546 1.90598 41.834 0.120038 49.2437 0.003125L49.2499 0ZM48.6155 5.12813C38.8428 5.40569 29.4311 8.88251 21.8249 15.025C15.5969 20.0313 10.8205 26.6116 7.99053 34.0844C3.87575 45.0377 4.16134 57.1588 8.7874 67.9062C11.9874 75.2528 17.0887 81.613 23.5655 86.3312C29.4466 90.6264 36.2933 93.4102 43.503 94.4375C49.5749 95.3156 55.8249 94.9594 61.7499 93.3625C69.8506 91.1714 77.1741 86.752 82.8883 80.6063C88.6026 74.4607 92.4782 66.8353 94.0749 58.5969C95.3249 52.1374 95.1532 45.4833 93.5718 39.0969C91.7346 31.7288 88.0575 24.9475 82.8849 19.3879C77.7123 13.8284 71.2134 9.67247 63.9968 7.30937C59.0356 5.69323 53.8305 4.95508 48.6155 5.12813V5.12813Z" fill="black"/></g><defs><clipPath id="clip0_174_12"><rect width="100" height="100" fill="white"/></clipPath></defs></svg>
    </div>
    <div class="slide">
        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_174_14)"><path d="M68.05 75.7156V71.0781L67.9531 71.1281C66.9097 71.6342 65.7741 71.9223 64.6156 71.975C63.4134 72.0705 62.2186 71.7164 61.2625 70.9812C60.5764 70.4567 60.0654 69.7365 59.7969 68.9156C59.5046 68.0149 59.4711 67.0501 59.7 66.1312C59.9125 65.1875 60.4312 64.3562 61.1812 63.7562C61.8524 63.2067 62.6645 62.8569 63.525 62.7469C65.0505 62.5868 66.5895 62.8757 67.9531 63.5781L68.05 63.6281V58.9719L67.8375 58.9219C66.4766 58.4871 65.0488 58.2998 63.6219 58.3687C62.3187 58.4 61.0344 58.6937 59.8625 59.2312C58.6647 59.7696 57.6111 60.5834 56.7875 61.6062C55.5196 63.2009 54.8146 65.1701 54.7824 67.2072C54.7502 69.2442 55.3925 71.2348 56.6094 72.8687C57.8469 74.4469 59.5719 75.5719 61.5094 76.025C63.5564 76.5244 65.7014 76.4509 67.7094 75.8125L68.05 75.7156V75.7156ZM22.2344 75.7156V71.0781L22.1375 71.1281C21.0947 71.636 19.9588 71.9242 18.8 71.975C17.5978 72.0705 16.4029 71.7164 15.4469 70.9812C14.7654 70.4523 14.2554 69.7336 13.9812 68.9156C13.6887 68.0149 13.6551 67.0501 13.8844 66.1312C14.0969 65.1875 14.6156 64.3562 15.3656 63.7562C16.0368 63.2067 16.8489 62.8569 17.7094 62.7469C19.2349 62.5868 20.7739 62.8757 22.1375 63.5781L22.2344 63.6281V58.9719L22.0219 58.9219C20.6612 58.4861 19.2333 58.2987 17.8062 58.3687C16.5031 58.4 15.2344 58.6937 14.0469 59.2312C12.854 59.7778 11.8021 60.5902 10.9719 61.6062C9.70745 63.2025 9.0047 65.1712 8.9725 67.2073C8.9403 69.2434 9.58043 71.2333 10.7937 72.8687C12.0156 74.4469 13.7562 75.5719 15.6937 76.025C17.7408 76.5241 19.8857 76.4506 21.8938 75.8125L22.2344 75.7156V75.7156ZM38.5906 71.875L38.575 75.8625L38.8531 75.9125C39.7812 76.075 40.6937 76.1906 41.6187 76.2719C42.4312 76.3375 43.2625 76.3531 44.075 76.3219C44.8563 76.2562 45.6219 76.1094 46.3688 75.8812C47.2469 75.6375 48.0437 75.1969 48.7437 74.6125C49.3625 74.075 49.85 73.3906 50.1281 72.6281C50.6313 71.325 50.6156 69.9094 50.0969 68.625C49.8384 67.9538 49.4124 67.3599 48.8594 66.9C48.3333 66.4227 47.7125 66.0617 47.0375 65.8406L44.025 64.7187C43.6676 64.5667 43.3784 64.2887 43.2125 63.9375C43.1449 63.7938 43.1125 63.6361 43.1179 63.4775C43.1233 63.3188 43.1665 63.1637 43.2438 63.025C43.3964 62.77 43.6158 62.5615 43.8781 62.4219C44.2188 62.2594 44.5781 62.1625 44.9531 62.1125C45.5875 62.0312 46.2375 62.0312 46.875 62.1437C47.625 62.225 48.3563 62.3562 49.0875 62.5344L49.25 62.5656V58.8875L48.9563 58.8219C48.2097 58.651 47.4544 58.5206 46.6938 58.4312C45.7061 58.2948 44.7047 58.2895 43.7156 58.4156C42.4678 58.5321 41.2803 59.0075 40.2969 59.7844C39.6331 60.3108 39.1262 61.009 38.8312 61.8031C38.4093 63.0154 38.4093 64.3346 38.8312 65.5469C39.0594 66.1656 39.4188 66.7031 39.8906 67.1406C40.2969 67.5312 40.7531 67.8562 41.2594 68.1187C41.9094 68.4781 42.6094 68.7375 43.325 68.9312C43.5531 69.0125 43.7969 69.0781 44.025 69.1594L44.3844 69.2906L44.4813 69.3406C44.8342 69.4577 45.1566 69.652 45.425 69.9094C45.6184 70.0805 45.7638 70.2992 45.8469 70.5437C45.9126 70.7618 45.9126 70.9944 45.8469 71.2125C45.7342 71.5673 45.4891 71.865 45.1625 72.0437C44.8031 72.2219 44.4125 72.3531 44.0062 72.4031C43.4193 72.4944 42.8241 72.5217 42.2312 72.4844C41.0437 72.3982 39.8667 72.2015 38.7156 71.8969L38.5906 71.875ZM28.2719 76.0094H32.65V58.6594H28.2719V76.0094ZM78.9375 63.7844C79.8775 63.0316 81.0767 62.6804 82.2743 62.8071C83.4719 62.9339 84.5711 63.5284 85.3326 64.4613C86.0942 65.3942 86.4566 66.5901 86.3411 67.7888C86.2255 68.9876 85.6414 70.0922 84.7156 70.8625L84.6344 70.9125C79.8969 74.5594 74.3469 67.5906 78.9375 63.7844ZM72.5906 67.3344C72.6111 68.6909 72.9331 70.0259 73.5334 71.2426C74.1338 72.4593 74.9973 73.5271 76.0615 74.3686C77.1256 75.2102 78.3637 75.8044 79.686 76.1082C81.0082 76.412 82.3815 76.4177 83.7062 76.125C91.7469 74.5937 93.65 63.9344 86.6188 59.7187C80.5625 55.975 72.7344 60.2219 72.5875 67.3375L72.5906 67.3344ZM95.6719 44.6937C95.7844 47.4594 99.8875 47.4594 100 44.6937V39.8937C99.8875 37.1281 95.7844 37.1281 95.6719 39.8937V44.6937V44.6937ZM83.8219 44.6937C84.0187 47.3781 87.9563 47.3781 88.15 44.6937V33.9187C87.9875 31.2 84 31.2 83.8219 33.9187V44.6937ZM71.7938 49.0406C72.0063 51.725 75.9281 51.725 76.1219 49.0406V25.7156C76.0094 22.95 71.9219 22.95 71.7938 25.7156V49.0406ZM59.9781 44.6937C60.1406 47.4125 64.1281 47.4125 64.3062 44.6937V33.9187C64.175 31.1531 60.0906 31.1531 59.9781 33.9187V44.6937ZM47.8844 44.6937C48.1437 47.3156 51.9688 47.3156 52.2125 44.6937V39.8937C52.1 37.1281 48.0125 37.1281 47.8844 39.8937V44.6937V44.6937ZM35.9375 44.6937C36.05 47.4594 40.1375 47.4594 40.2656 44.6937V33.9187C40.1344 31.1531 36.05 31.1531 35.9375 33.9187V44.6937ZM23.9094 49.0406C24.0219 51.8062 28.1094 51.8062 28.2375 49.0406V25.7156C28.1063 22.95 24.0219 22.95 23.9094 25.7156V49.0406ZM11.9781 44.6937C12.2219 47.3469 16.0812 47.3469 16.3062 44.6937V33.9187C16.1937 31.1531 12.1063 31.1531 11.9938 33.9187V44.6937H11.9781ZM0 44.6937C0.196875 47.3781 4.11875 47.3781 4.32812 44.6937V39.8937C4.21562 37.1281 0.1125 37.1281 0 39.8937V44.6937Z" fill="black"/></g><defs><clipPath id="clip0_174_14"><rect width="100" height="100" fill="white"/></clipPath></defs></svg>
    </div>
    <div class="slide">
        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M84.3906 47.5906C83.926 47.5866 83.4656 47.6785 83.038 47.8604C82.6105 48.0423 82.225 48.3104 81.9057 48.6479C81.5864 48.9854 81.3401 49.3851 81.1821 49.822C81.0241 50.259 80.9579 50.7238 80.9875 51.1875C80.9708 51.6527 81.0474 52.1166 81.2128 52.5518C81.3782 52.987 81.6291 53.3846 81.9506 53.7213C82.2722 54.058 82.6579 54.3269 83.085 54.5121C83.5121 54.6974 83.972 54.7953 84.4375 54.8C84.903 54.8022 85.3639 54.7087 85.7917 54.5252C86.2195 54.3417 86.605 54.0722 86.9242 53.7334C87.2434 53.3945 87.4894 52.9937 87.6471 52.5557C87.8048 52.1177 87.8706 51.652 87.8406 51.1875C87.8556 50.7234 87.7777 50.261 87.6115 49.8275C87.4453 49.3939 87.1941 48.998 86.8727 48.6629C86.5513 48.3278 86.1662 48.0603 85.7399 47.8762C85.3137 47.692 84.8549 47.5949 84.3906 47.5906ZM57.2594 47.5906C56.7957 47.5869 56.3362 47.6791 55.9098 47.8614C55.4834 48.0436 55.0993 48.312 54.7815 48.6498C54.4637 48.9875 54.2192 49.3872 54.0632 49.8239C53.9072 50.2606 53.8431 50.7249 53.875 51.1875C53.857 51.6531 53.9327 52.1175 54.0976 52.5533C54.2626 52.989 54.5134 53.3872 54.8352 53.7241C55.157 54.0611 55.5432 54.3299 55.9709 54.5147C56.3986 54.6996 56.8591 54.7966 57.325 54.8C57.7897 54.8024 58.2499 54.7089 58.6768 54.5252C59.1037 54.3415 59.488 54.0716 59.8057 53.7325C60.1235 53.3933 60.3677 52.9922 60.5232 52.5543C60.6787 52.1164 60.7421 51.651 60.7094 51.1875C60.7257 50.7231 60.6487 50.2601 60.4829 49.826C60.3172 49.3919 60.066 48.9954 59.7444 48.6601C59.4227 48.3247 59.0371 48.0573 58.6102 47.8736C58.1834 47.6899 57.724 47.5937 57.2594 47.5906ZM28.0594 47.3625C27.5369 47.3464 27.0181 47.4545 26.5455 47.6777C26.0729 47.901 25.66 48.2331 25.3406 48.6469C24.7063 49.5316 24.4489 50.6319 24.625 51.7062L30.7781 49.1656C30.553 48.6304 30.175 48.1735 29.6913 47.8522C29.2077 47.5309 28.64 47.3594 28.0594 47.3594V47.3625ZM0 33.3344V66.6687H100V33.3344H0ZM20.8656 57.6187H9.27813V40.9531H12.8594V54.3812H20.8687L20.8656 57.6187ZM28.4344 55.0281C29.7844 55.0437 31.1031 54.5718 32.1125 53.6593L34.3437 55.3687C32.756 56.9446 30.6089 57.8277 28.3719 57.825C27.4659 57.9136 26.5513 57.8151 25.6849 57.5357C24.8185 57.2563 24.0187 56.8019 23.3352 56.2007C22.6516 55.5994 22.0988 54.8642 21.7111 54.0406C21.3234 53.2169 21.109 52.3224 21.0812 51.4125C21.0552 50.5006 21.217 49.5931 21.5566 48.7463C21.8961 47.8996 22.4062 47.1318 23.0551 46.4905C23.7039 45.8493 24.4778 45.3483 25.3284 45.0188C26.1791 44.6892 27.0885 44.5382 28 44.575C28.9451 44.5296 29.8886 44.6928 30.7635 45.0531C31.6384 45.4133 32.4233 45.9617 33.0625 46.6594C33.9094 47.6844 34.4469 48.9219 34.6094 50.2406L25.5937 54C26.3594 54.7 27.3844 55.075 28.4406 55.025L28.4344 55.0281ZM48.7781 57.6187H45.2469V50.3094C45.2329 49.9363 45.1448 49.5698 44.9878 49.2312C44.8307 48.8926 44.6078 48.5886 44.3321 48.337C44.0563 48.0854 43.7332 47.8912 43.3817 47.7658C43.0301 47.6403 42.6571 47.5861 42.2844 47.6062C41.9136 47.5838 41.5422 47.6368 41.1925 47.762C40.8428 47.8872 40.5221 48.0821 40.2499 48.3347C39.9776 48.5874 39.7594 48.8927 39.6085 49.2321C39.4576 49.5715 39.3771 49.938 39.3719 50.3094V57.6187H35.8562V44.7781H39.3875V46.6187C39.8825 45.9852 40.5143 45.4718 41.2356 45.1168C41.9569 44.7618 42.7492 44.5744 43.5531 44.5687C44.2374 44.5306 44.9221 44.6354 45.5637 44.8763C46.2053 45.1173 46.7897 45.4892 47.2797 45.9683C47.7697 46.4474 48.1546 47.0233 48.4099 47.6593C48.6652 48.2953 48.7852 48.9775 48.7625 49.6625L48.7781 57.6187ZM57.0469 57.8281C51.2031 57.5843 48.5031 50.4562 52.7344 46.4031C56.95 42.3656 63.9656 45.3437 63.9656 51.1875C63.9625 52.0823 63.7793 52.9673 63.4269 53.7899C63.0746 54.6124 62.5603 55.3556 61.9147 55.9753C61.2692 56.5949 60.5055 57.0783 59.6692 57.3966C58.8329 57.7149 57.9411 57.8616 57.0469 57.8281ZM68.7 57.6L63.425 44.775H67.4438L70.6344 53.5312L73.825 44.775H77.8437L72.5531 57.6H68.7ZM84.1625 57.8281C78.3344 57.5843 75.6344 50.4562 79.85 46.4031C84.0813 42.3656 91.0812 45.3437 91.0812 51.1875C91.0794 52.0827 90.8971 52.9683 90.5452 53.7915C90.1933 54.6146 89.6791 55.3584 89.0332 55.9782C88.3874 56.5981 87.6232 57.0814 86.7863 57.3993C85.9494 57.7171 85.057 57.863 84.1625 57.8281V57.8281ZM92.4969 56.0875H91.9094V57.6187H91.5688V56.0875H91V55.7625H92.4969V56.0875ZM94.7594 57.6187H94.4188V56.3L93.85 57.1937H93.8L93.2312 56.3V57.6187H92.8906V55.7625H93.2656L93.8187 56.6406L94.3719 55.7625H94.7469L94.7594 57.6187Z" fill="black"/></svg>
    </div>
<!-- </div> -->
</div>

</div>
<style>

.logo-slider {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.logo-slider .slide {padding: 1.5rem;}
.logo-slider .slide svg {height: 60px; width: auto; display: flex; align-items: center;}


/* .logo-slider {
-webkit-box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.125);
box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.125);
margin: auto;
overflow: hidden;
position: relative;
width: 100%;
}


.logo-slider .logo-slide-track {
-webkit-animation: logo-scroll 60s linear infinite;
animation: logo-scroll 60s linear infinite;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
width: calc(200px * 12);
animation-duration: 20s;
animation-iteration-count: infinite;
}

.logo-slider .slide {
height: 50px;
width: 250px;
text-align: center;
}

.logo-slider .slide svg {
height: 50px;
width: auto;
}

@-webkit-keyframes logo-scroll {
0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

100% {
    -webkit-transform: translateX(calc(-250px * 6));
    transform: translateX(calc(-250px * 6));
}
}

@keyframes logo-scroll {
0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

100% {
    -webkit-transform: translateX(calc(-250px * 6));
    transform: translateX(calc(-250px * 6));
}
} */

</style>

{% schema %}
{
"name": "Custom - Brand slider",
"settings": [
{
    "type": "select",
    "id": "color_scheme",
    "options": [
      {
        "value": "accent-1",
        "label": "t:sections.all.colors.accent_1.label"
      },
      {
        "value": "accent-2",
        "label": "t:sections.all.colors.accent_2.label"
      },
      {
        "value": "background-1",
        "label": "t:sections.all.colors.background_1.label"
      },
      {
        "value": "background-2",
        "label": "t:sections.all.colors.background_2.label"
      },
      {
        "value": "inverse",
        "label": "t:sections.all.colors.inverse.label"
      }
    ],
    "default": "background-2",
    "label": "t:sections.all.colors.label"
  },
{
    "type": "range",
    "id": "padding_top",
    "min": 0,
    "max": 100,
    "step": 4,
    "unit": "px",
    "label": "t:sections.all.padding.padding_top",
    "default": 0
  },
  {
    "type": "range",
    "id": "padding_bottom",
    "min": 0,
    "max": 100,
    "step": 4,
    "unit": "px",
    "label": "t:sections.all.padding.padding_bottom",
    "default": 0
  }  
],

"blocks": [
{
  "type": "logo",
  "name": "Logo",
  "settings": [
  ]
}
],

"presets": [
{
  "name": "Custom - Brand slider"
}
]
}
{% endschema %}