{%- comment -%}
Dynamic section for reviews slider by jesperahlbom.com
{%- endcomment -%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

        <!-- Link Swiper's CSS -->
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

        <!-- Swiper JS -->
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

{% if section.blocks.size > 0 %}
<div class="section-{{ section.id }}-padding color-{{ section.settings.color_scheme }} gradient" id="{{ section.settings.scroll_id }}">
    
    <div class="custom-reviews-container page-width">
        <div class="swiper custom-reviews-swiper">
            <div class="custom-reviews-nav">
                <div class="custom-reviews-nav__title">
            <h2 class="m-0 {{ section.settings.heading_size }}">{{ section.settings.heading }}</h2>
        </div>            
        <div class="custom-reviews-nav__buttons">
            <div class="swiper-button-prev" id="c-testimonial-slider"></div>
            <div class="swiper-button-next" id="c-testimonial-slider"></div>
        </div>
        </div>
        <div class="swiper-wrapper" id="c-testimonial-slider">
            {%- for block in section.blocks -%}
            <div class="swiper-slide" id="c-testimonial-slider">
                <div class="review-content">
                    <span>{{ block.settings.content }}</span>
                </div>
                <div class="review-outcome">
                    <div class="review-outcome__author"><span style="font-weight: 500;">{{ block.settings.author }}</span><span> gav betyget</span></div>
                    <div class="review-outcome__stars">
                        {% if block.settings.stars == 5 %}
                        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M88.6817 34.4825L63.8868 30.8789L52.8028 8.40824C52.5001 7.793 52.002 7.29496 51.3868 6.99222C49.8438 6.2305 47.9688 6.86527 47.1974 8.40824L36.1134 30.8789L11.3185 34.4825C10.6349 34.5801 10.0099 34.9024 9.53134 35.3907C8.95284 35.9853 8.63406 36.7852 8.64505 37.6147C8.65604 38.4442 8.99589 39.2354 9.58994 39.8145L27.5294 57.3047L23.2911 82.002C23.1917 82.5765 23.2553 83.1674 23.4746 83.7076C23.694 84.2478 24.0603 84.7158 24.532 85.0584C25.0038 85.401 25.5621 85.6046 26.1436 85.6461C26.7252 85.6876 27.3068 85.5652 27.8224 85.293L50.0001 73.6328L72.1778 85.293C72.7833 85.6153 73.4864 85.7227 74.1603 85.6055C75.8595 85.3125 77.002 83.7012 76.7091 82.002L72.4708 57.3047L90.4102 39.8145C90.8985 39.336 91.2208 38.711 91.3185 38.0274C91.5821 36.3184 90.3907 34.7364 88.6817 34.4825V34.4825Z" fill="#FFC700"/> </svg>
                        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M88.6817 34.4825L63.8868 30.8789L52.8028 8.40824C52.5001 7.793 52.002 7.29496 51.3868 6.99222C49.8438 6.2305 47.9688 6.86527 47.1974 8.40824L36.1134 30.8789L11.3185 34.4825C10.6349 34.5801 10.0099 34.9024 9.53134 35.3907C8.95284 35.9853 8.63406 36.7852 8.64505 37.6147C8.65604 38.4442 8.99589 39.2354 9.58994 39.8145L27.5294 57.3047L23.2911 82.002C23.1917 82.5765 23.2553 83.1674 23.4746 83.7076C23.694 84.2478 24.0603 84.7158 24.532 85.0584C25.0038 85.401 25.5621 85.6046 26.1436 85.6461C26.7252 85.6876 27.3068 85.5652 27.8224 85.293L50.0001 73.6328L72.1778 85.293C72.7833 85.6153 73.4864 85.7227 74.1603 85.6055C75.8595 85.3125 77.002 83.7012 76.7091 82.002L72.4708 57.3047L90.4102 39.8145C90.8985 39.336 91.2208 38.711 91.3185 38.0274C91.5821 36.3184 90.3907 34.7364 88.6817 34.4825V34.4825Z" fill="#FFC700"/> </svg>
                        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M88.6817 34.4825L63.8868 30.8789L52.8028 8.40824C52.5001 7.793 52.002 7.29496 51.3868 6.99222C49.8438 6.2305 47.9688 6.86527 47.1974 8.40824L36.1134 30.8789L11.3185 34.4825C10.6349 34.5801 10.0099 34.9024 9.53134 35.3907C8.95284 35.9853 8.63406 36.7852 8.64505 37.6147C8.65604 38.4442 8.99589 39.2354 9.58994 39.8145L27.5294 57.3047L23.2911 82.002C23.1917 82.5765 23.2553 83.1674 23.4746 83.7076C23.694 84.2478 24.0603 84.7158 24.532 85.0584C25.0038 85.401 25.5621 85.6046 26.1436 85.6461C26.7252 85.6876 27.3068 85.5652 27.8224 85.293L50.0001 73.6328L72.1778 85.293C72.7833 85.6153 73.4864 85.7227 74.1603 85.6055C75.8595 85.3125 77.002 83.7012 76.7091 82.002L72.4708 57.3047L90.4102 39.8145C90.8985 39.336 91.2208 38.711 91.3185 38.0274C91.5821 36.3184 90.3907 34.7364 88.6817 34.4825V34.4825Z" fill="#FFC700"/> </svg>
                        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M88.6817 34.4825L63.8868 30.8789L52.8028 8.40824C52.5001 7.793 52.002 7.29496 51.3868 6.99222C49.8438 6.2305 47.9688 6.86527 47.1974 8.40824L36.1134 30.8789L11.3185 34.4825C10.6349 34.5801 10.0099 34.9024 9.53134 35.3907C8.95284 35.9853 8.63406 36.7852 8.64505 37.6147C8.65604 38.4442 8.99589 39.2354 9.58994 39.8145L27.5294 57.3047L23.2911 82.002C23.1917 82.5765 23.2553 83.1674 23.4746 83.7076C23.694 84.2478 24.0603 84.7158 24.532 85.0584C25.0038 85.401 25.5621 85.6046 26.1436 85.6461C26.7252 85.6876 27.3068 85.5652 27.8224 85.293L50.0001 73.6328L72.1778 85.293C72.7833 85.6153 73.4864 85.7227 74.1603 85.6055C75.8595 85.3125 77.002 83.7012 76.7091 82.002L72.4708 57.3047L90.4102 39.8145C90.8985 39.336 91.2208 38.711 91.3185 38.0274C91.5821 36.3184 90.3907 34.7364 88.6817 34.4825V34.4825Z" fill="#FFC700"/> </svg>
                        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M88.6817 34.4825L63.8868 30.8789L52.8028 8.40824C52.5001 7.793 52.002 7.29496 51.3868 6.99222C49.8438 6.2305 47.9688 6.86527 47.1974 8.40824L36.1134 30.8789L11.3185 34.4825C10.6349 34.5801 10.0099 34.9024 9.53134 35.3907C8.95284 35.9853 8.63406 36.7852 8.64505 37.6147C8.65604 38.4442 8.99589 39.2354 9.58994 39.8145L27.5294 57.3047L23.2911 82.002C23.1917 82.5765 23.2553 83.1674 23.4746 83.7076C23.694 84.2478 24.0603 84.7158 24.532 85.0584C25.0038 85.401 25.5621 85.6046 26.1436 85.6461C26.7252 85.6876 27.3068 85.5652 27.8224 85.293L50.0001 73.6328L72.1778 85.293C72.7833 85.6153 73.4864 85.7227 74.1603 85.6055C75.8595 85.3125 77.002 83.7012 76.7091 82.002L72.4708 57.3047L90.4102 39.8145C90.8985 39.336 91.2208 38.711 91.3185 38.0274C91.5821 36.3184 90.3907 34.7364 88.6817 34.4825V34.4825Z" fill="#FFC700"/> </svg>
                        {% elsif block.settings.stars == 4 %}
                        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M88.6817 34.4825L63.8868 30.8789L52.8028 8.40824C52.5001 7.793 52.002 7.29496 51.3868 6.99222C49.8438 6.2305 47.9688 6.86527 47.1974 8.40824L36.1134 30.8789L11.3185 34.4825C10.6349 34.5801 10.0099 34.9024 9.53134 35.3907C8.95284 35.9853 8.63406 36.7852 8.64505 37.6147C8.65604 38.4442 8.99589 39.2354 9.58994 39.8145L27.5294 57.3047L23.2911 82.002C23.1917 82.5765 23.2553 83.1674 23.4746 83.7076C23.694 84.2478 24.0603 84.7158 24.532 85.0584C25.0038 85.401 25.5621 85.6046 26.1436 85.6461C26.7252 85.6876 27.3068 85.5652 27.8224 85.293L50.0001 73.6328L72.1778 85.293C72.7833 85.6153 73.4864 85.7227 74.1603 85.6055C75.8595 85.3125 77.002 83.7012 76.7091 82.002L72.4708 57.3047L90.4102 39.8145C90.8985 39.336 91.2208 38.711 91.3185 38.0274C91.5821 36.3184 90.3907 34.7364 88.6817 34.4825V34.4825Z" fill="#FFC700"/> </svg>
                        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M88.6817 34.4825L63.8868 30.8789L52.8028 8.40824C52.5001 7.793 52.002 7.29496 51.3868 6.99222C49.8438 6.2305 47.9688 6.86527 47.1974 8.40824L36.1134 30.8789L11.3185 34.4825C10.6349 34.5801 10.0099 34.9024 9.53134 35.3907C8.95284 35.9853 8.63406 36.7852 8.64505 37.6147C8.65604 38.4442 8.99589 39.2354 9.58994 39.8145L27.5294 57.3047L23.2911 82.002C23.1917 82.5765 23.2553 83.1674 23.4746 83.7076C23.694 84.2478 24.0603 84.7158 24.532 85.0584C25.0038 85.401 25.5621 85.6046 26.1436 85.6461C26.7252 85.6876 27.3068 85.5652 27.8224 85.293L50.0001 73.6328L72.1778 85.293C72.7833 85.6153 73.4864 85.7227 74.1603 85.6055C75.8595 85.3125 77.002 83.7012 76.7091 82.002L72.4708 57.3047L90.4102 39.8145C90.8985 39.336 91.2208 38.711 91.3185 38.0274C91.5821 36.3184 90.3907 34.7364 88.6817 34.4825V34.4825Z" fill="#FFC700"/> </svg>
                        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M88.6817 34.4825L63.8868 30.8789L52.8028 8.40824C52.5001 7.793 52.002 7.29496 51.3868 6.99222C49.8438 6.2305 47.9688 6.86527 47.1974 8.40824L36.1134 30.8789L11.3185 34.4825C10.6349 34.5801 10.0099 34.9024 9.53134 35.3907C8.95284 35.9853 8.63406 36.7852 8.64505 37.6147C8.65604 38.4442 8.99589 39.2354 9.58994 39.8145L27.5294 57.3047L23.2911 82.002C23.1917 82.5765 23.2553 83.1674 23.4746 83.7076C23.694 84.2478 24.0603 84.7158 24.532 85.0584C25.0038 85.401 25.5621 85.6046 26.1436 85.6461C26.7252 85.6876 27.3068 85.5652 27.8224 85.293L50.0001 73.6328L72.1778 85.293C72.7833 85.6153 73.4864 85.7227 74.1603 85.6055C75.8595 85.3125 77.002 83.7012 76.7091 82.002L72.4708 57.3047L90.4102 39.8145C90.8985 39.336 91.2208 38.711 91.3185 38.0274C91.5821 36.3184 90.3907 34.7364 88.6817 34.4825V34.4825Z" fill="#FFC700"/> </svg>
                        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M88.6817 34.4825L63.8868 30.8789L52.8028 8.40824C52.5001 7.793 52.002 7.29496 51.3868 6.99222C49.8438 6.2305 47.9688 6.86527 47.1974 8.40824L36.1134 30.8789L11.3185 34.4825C10.6349 34.5801 10.0099 34.9024 9.53134 35.3907C8.95284 35.9853 8.63406 36.7852 8.64505 37.6147C8.65604 38.4442 8.99589 39.2354 9.58994 39.8145L27.5294 57.3047L23.2911 82.002C23.1917 82.5765 23.2553 83.1674 23.4746 83.7076C23.694 84.2478 24.0603 84.7158 24.532 85.0584C25.0038 85.401 25.5621 85.6046 26.1436 85.6461C26.7252 85.6876 27.3068 85.5652 27.8224 85.293L50.0001 73.6328L72.1778 85.293C72.7833 85.6153 73.4864 85.7227 74.1603 85.6055C75.8595 85.3125 77.002 83.7012 76.7091 82.002L72.4708 57.3047L90.4102 39.8145C90.8985 39.336 91.2208 38.711 91.3185 38.0274C91.5821 36.3184 90.3907 34.7364 88.6817 34.4825V34.4825Z" fill="#FFC700"/> </svg>
                        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M88.6817 34.4824L63.8868 30.8789L52.8028 8.40821C52.5001 7.79297 52.002 7.29493 51.3868 6.99219C49.8438 6.23047 47.9688 6.86524 47.1974 8.40821L36.1134 30.8789L11.3185 34.4824C10.6349 34.5801 10.0099 34.9023 9.53134 35.3906C8.95284 35.9852 8.63406 36.7852 8.64505 37.6147C8.65604 38.4442 8.99589 39.2354 9.58994 39.8145L27.5294 57.3047L23.2911 82.002C23.1917 82.5765 23.2553 83.1673 23.4746 83.7076C23.694 84.2478 24.0603 84.7157 24.532 85.0584C25.0038 85.401 25.5621 85.6046 26.1436 85.6461C26.7252 85.6875 27.3068 85.5652 27.8224 85.293L50.0001 73.6328L72.1778 85.293C72.7833 85.6152 73.4864 85.7227 74.1603 85.6055C75.8595 85.3125 77.002 83.7012 76.7091 82.002L72.4708 57.3047L90.4102 39.8145C90.8985 39.3359 91.2208 38.7109 91.3185 38.0273C91.5821 36.3184 90.3907 34.7363 88.6817 34.4824V34.4824Z" fill="#CCCCCC"/> </svg>                        
                        {% elsif block.settings.stars == 3 %}
                        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M88.6817 34.4825L63.8868 30.8789L52.8028 8.40824C52.5001 7.793 52.002 7.29496 51.3868 6.99222C49.8438 6.2305 47.9688 6.86527 47.1974 8.40824L36.1134 30.8789L11.3185 34.4825C10.6349 34.5801 10.0099 34.9024 9.53134 35.3907C8.95284 35.9853 8.63406 36.7852 8.64505 37.6147C8.65604 38.4442 8.99589 39.2354 9.58994 39.8145L27.5294 57.3047L23.2911 82.002C23.1917 82.5765 23.2553 83.1674 23.4746 83.7076C23.694 84.2478 24.0603 84.7158 24.532 85.0584C25.0038 85.401 25.5621 85.6046 26.1436 85.6461C26.7252 85.6876 27.3068 85.5652 27.8224 85.293L50.0001 73.6328L72.1778 85.293C72.7833 85.6153 73.4864 85.7227 74.1603 85.6055C75.8595 85.3125 77.002 83.7012 76.7091 82.002L72.4708 57.3047L90.4102 39.8145C90.8985 39.336 91.2208 38.711 91.3185 38.0274C91.5821 36.3184 90.3907 34.7364 88.6817 34.4825V34.4825Z" fill="#FFC700"/> </svg>
                        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M88.6817 34.4825L63.8868 30.8789L52.8028 8.40824C52.5001 7.793 52.002 7.29496 51.3868 6.99222C49.8438 6.2305 47.9688 6.86527 47.1974 8.40824L36.1134 30.8789L11.3185 34.4825C10.6349 34.5801 10.0099 34.9024 9.53134 35.3907C8.95284 35.9853 8.63406 36.7852 8.64505 37.6147C8.65604 38.4442 8.99589 39.2354 9.58994 39.8145L27.5294 57.3047L23.2911 82.002C23.1917 82.5765 23.2553 83.1674 23.4746 83.7076C23.694 84.2478 24.0603 84.7158 24.532 85.0584C25.0038 85.401 25.5621 85.6046 26.1436 85.6461C26.7252 85.6876 27.3068 85.5652 27.8224 85.293L50.0001 73.6328L72.1778 85.293C72.7833 85.6153 73.4864 85.7227 74.1603 85.6055C75.8595 85.3125 77.002 83.7012 76.7091 82.002L72.4708 57.3047L90.4102 39.8145C90.8985 39.336 91.2208 38.711 91.3185 38.0274C91.5821 36.3184 90.3907 34.7364 88.6817 34.4825V34.4825Z" fill="#FFC700"/> </svg>
                        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M88.6817 34.4825L63.8868 30.8789L52.8028 8.40824C52.5001 7.793 52.002 7.29496 51.3868 6.99222C49.8438 6.2305 47.9688 6.86527 47.1974 8.40824L36.1134 30.8789L11.3185 34.4825C10.6349 34.5801 10.0099 34.9024 9.53134 35.3907C8.95284 35.9853 8.63406 36.7852 8.64505 37.6147C8.65604 38.4442 8.99589 39.2354 9.58994 39.8145L27.5294 57.3047L23.2911 82.002C23.1917 82.5765 23.2553 83.1674 23.4746 83.7076C23.694 84.2478 24.0603 84.7158 24.532 85.0584C25.0038 85.401 25.5621 85.6046 26.1436 85.6461C26.7252 85.6876 27.3068 85.5652 27.8224 85.293L50.0001 73.6328L72.1778 85.293C72.7833 85.6153 73.4864 85.7227 74.1603 85.6055C75.8595 85.3125 77.002 83.7012 76.7091 82.002L72.4708 57.3047L90.4102 39.8145C90.8985 39.336 91.2208 38.711 91.3185 38.0274C91.5821 36.3184 90.3907 34.7364 88.6817 34.4825V34.4825Z" fill="#FFC700"/> </svg>
                        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M88.6817 34.4824L63.8868 30.8789L52.8028 8.40821C52.5001 7.79297 52.002 7.29493 51.3868 6.99219C49.8438 6.23047 47.9688 6.86524 47.1974 8.40821L36.1134 30.8789L11.3185 34.4824C10.6349 34.5801 10.0099 34.9023 9.53134 35.3906C8.95284 35.9852 8.63406 36.7852 8.64505 37.6147C8.65604 38.4442 8.99589 39.2354 9.58994 39.8145L27.5294 57.3047L23.2911 82.002C23.1917 82.5765 23.2553 83.1673 23.4746 83.7076C23.694 84.2478 24.0603 84.7157 24.532 85.0584C25.0038 85.401 25.5621 85.6046 26.1436 85.6461C26.7252 85.6875 27.3068 85.5652 27.8224 85.293L50.0001 73.6328L72.1778 85.293C72.7833 85.6152 73.4864 85.7227 74.1603 85.6055C75.8595 85.3125 77.002 83.7012 76.7091 82.002L72.4708 57.3047L90.4102 39.8145C90.8985 39.3359 91.2208 38.7109 91.3185 38.0273C91.5821 36.3184 90.3907 34.7363 88.6817 34.4824V34.4824Z" fill="#CCCCCC"/> </svg>                        
                        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M88.6817 34.4824L63.8868 30.8789L52.8028 8.40821C52.5001 7.79297 52.002 7.29493 51.3868 6.99219C49.8438 6.23047 47.9688 6.86524 47.1974 8.40821L36.1134 30.8789L11.3185 34.4824C10.6349 34.5801 10.0099 34.9023 9.53134 35.3906C8.95284 35.9852 8.63406 36.7852 8.64505 37.6147C8.65604 38.4442 8.99589 39.2354 9.58994 39.8145L27.5294 57.3047L23.2911 82.002C23.1917 82.5765 23.2553 83.1673 23.4746 83.7076C23.694 84.2478 24.0603 84.7157 24.532 85.0584C25.0038 85.401 25.5621 85.6046 26.1436 85.6461C26.7252 85.6875 27.3068 85.5652 27.8224 85.293L50.0001 73.6328L72.1778 85.293C72.7833 85.6152 73.4864 85.7227 74.1603 85.6055C75.8595 85.3125 77.002 83.7012 76.7091 82.002L72.4708 57.3047L90.4102 39.8145C90.8985 39.3359 91.2208 38.7109 91.3185 38.0273C91.5821 36.3184 90.3907 34.7363 88.6817 34.4824V34.4824Z" fill="#CCCCCC"/> </svg>                        
                        {% elsif block.settings.stars == 2 %}
                        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M88.6817 34.4825L63.8868 30.8789L52.8028 8.40824C52.5001 7.793 52.002 7.29496 51.3868 6.99222C49.8438 6.2305 47.9688 6.86527 47.1974 8.40824L36.1134 30.8789L11.3185 34.4825C10.6349 34.5801 10.0099 34.9024 9.53134 35.3907C8.95284 35.9853 8.63406 36.7852 8.64505 37.6147C8.65604 38.4442 8.99589 39.2354 9.58994 39.8145L27.5294 57.3047L23.2911 82.002C23.1917 82.5765 23.2553 83.1674 23.4746 83.7076C23.694 84.2478 24.0603 84.7158 24.532 85.0584C25.0038 85.401 25.5621 85.6046 26.1436 85.6461C26.7252 85.6876 27.3068 85.5652 27.8224 85.293L50.0001 73.6328L72.1778 85.293C72.7833 85.6153 73.4864 85.7227 74.1603 85.6055C75.8595 85.3125 77.002 83.7012 76.7091 82.002L72.4708 57.3047L90.4102 39.8145C90.8985 39.336 91.2208 38.711 91.3185 38.0274C91.5821 36.3184 90.3907 34.7364 88.6817 34.4825V34.4825Z" fill="#FFC700"/> </svg>
                        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M88.6817 34.4825L63.8868 30.8789L52.8028 8.40824C52.5001 7.793 52.002 7.29496 51.3868 6.99222C49.8438 6.2305 47.9688 6.86527 47.1974 8.40824L36.1134 30.8789L11.3185 34.4825C10.6349 34.5801 10.0099 34.9024 9.53134 35.3907C8.95284 35.9853 8.63406 36.7852 8.64505 37.6147C8.65604 38.4442 8.99589 39.2354 9.58994 39.8145L27.5294 57.3047L23.2911 82.002C23.1917 82.5765 23.2553 83.1674 23.4746 83.7076C23.694 84.2478 24.0603 84.7158 24.532 85.0584C25.0038 85.401 25.5621 85.6046 26.1436 85.6461C26.7252 85.6876 27.3068 85.5652 27.8224 85.293L50.0001 73.6328L72.1778 85.293C72.7833 85.6153 73.4864 85.7227 74.1603 85.6055C75.8595 85.3125 77.002 83.7012 76.7091 82.002L72.4708 57.3047L90.4102 39.8145C90.8985 39.336 91.2208 38.711 91.3185 38.0274C91.5821 36.3184 90.3907 34.7364 88.6817 34.4825V34.4825Z" fill="#FFC700"/> </svg>
                        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M88.6817 34.4824L63.8868 30.8789L52.8028 8.40821C52.5001 7.79297 52.002 7.29493 51.3868 6.99219C49.8438 6.23047 47.9688 6.86524 47.1974 8.40821L36.1134 30.8789L11.3185 34.4824C10.6349 34.5801 10.0099 34.9023 9.53134 35.3906C8.95284 35.9852 8.63406 36.7852 8.64505 37.6147C8.65604 38.4442 8.99589 39.2354 9.58994 39.8145L27.5294 57.3047L23.2911 82.002C23.1917 82.5765 23.2553 83.1673 23.4746 83.7076C23.694 84.2478 24.0603 84.7157 24.532 85.0584C25.0038 85.401 25.5621 85.6046 26.1436 85.6461C26.7252 85.6875 27.3068 85.5652 27.8224 85.293L50.0001 73.6328L72.1778 85.293C72.7833 85.6152 73.4864 85.7227 74.1603 85.6055C75.8595 85.3125 77.002 83.7012 76.7091 82.002L72.4708 57.3047L90.4102 39.8145C90.8985 39.3359 91.2208 38.7109 91.3185 38.0273C91.5821 36.3184 90.3907 34.7363 88.6817 34.4824V34.4824Z" fill="#CCCCCC"/> </svg>                        
                        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M88.6817 34.4824L63.8868 30.8789L52.8028 8.40821C52.5001 7.79297 52.002 7.29493 51.3868 6.99219C49.8438 6.23047 47.9688 6.86524 47.1974 8.40821L36.1134 30.8789L11.3185 34.4824C10.6349 34.5801 10.0099 34.9023 9.53134 35.3906C8.95284 35.9852 8.63406 36.7852 8.64505 37.6147C8.65604 38.4442 8.99589 39.2354 9.58994 39.8145L27.5294 57.3047L23.2911 82.002C23.1917 82.5765 23.2553 83.1673 23.4746 83.7076C23.694 84.2478 24.0603 84.7157 24.532 85.0584C25.0038 85.401 25.5621 85.6046 26.1436 85.6461C26.7252 85.6875 27.3068 85.5652 27.8224 85.293L50.0001 73.6328L72.1778 85.293C72.7833 85.6152 73.4864 85.7227 74.1603 85.6055C75.8595 85.3125 77.002 83.7012 76.7091 82.002L72.4708 57.3047L90.4102 39.8145C90.8985 39.3359 91.2208 38.7109 91.3185 38.0273C91.5821 36.3184 90.3907 34.7363 88.6817 34.4824V34.4824Z" fill="#CCCCCC"/> </svg>                        
                        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M88.6817 34.4824L63.8868 30.8789L52.8028 8.40821C52.5001 7.79297 52.002 7.29493 51.3868 6.99219C49.8438 6.23047 47.9688 6.86524 47.1974 8.40821L36.1134 30.8789L11.3185 34.4824C10.6349 34.5801 10.0099 34.9023 9.53134 35.3906C8.95284 35.9852 8.63406 36.7852 8.64505 37.6147C8.65604 38.4442 8.99589 39.2354 9.58994 39.8145L27.5294 57.3047L23.2911 82.002C23.1917 82.5765 23.2553 83.1673 23.4746 83.7076C23.694 84.2478 24.0603 84.7157 24.532 85.0584C25.0038 85.401 25.5621 85.6046 26.1436 85.6461C26.7252 85.6875 27.3068 85.5652 27.8224 85.293L50.0001 73.6328L72.1778 85.293C72.7833 85.6152 73.4864 85.7227 74.1603 85.6055C75.8595 85.3125 77.002 83.7012 76.7091 82.002L72.4708 57.3047L90.4102 39.8145C90.8985 39.3359 91.2208 38.7109 91.3185 38.0273C91.5821 36.3184 90.3907 34.7363 88.6817 34.4824V34.4824Z" fill="#CCCCCC"/> </svg>                        
                        {% elsif block.settings.stars == 1 %}
                        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M88.6817 34.4825L63.8868 30.8789L52.8028 8.40824C52.5001 7.793 52.002 7.29496 51.3868 6.99222C49.8438 6.2305 47.9688 6.86527 47.1974 8.40824L36.1134 30.8789L11.3185 34.4825C10.6349 34.5801 10.0099 34.9024 9.53134 35.3907C8.95284 35.9853 8.63406 36.7852 8.64505 37.6147C8.65604 38.4442 8.99589 39.2354 9.58994 39.8145L27.5294 57.3047L23.2911 82.002C23.1917 82.5765 23.2553 83.1674 23.4746 83.7076C23.694 84.2478 24.0603 84.7158 24.532 85.0584C25.0038 85.401 25.5621 85.6046 26.1436 85.6461C26.7252 85.6876 27.3068 85.5652 27.8224 85.293L50.0001 73.6328L72.1778 85.293C72.7833 85.6153 73.4864 85.7227 74.1603 85.6055C75.8595 85.3125 77.002 83.7012 76.7091 82.002L72.4708 57.3047L90.4102 39.8145C90.8985 39.336 91.2208 38.711 91.3185 38.0274C91.5821 36.3184 90.3907 34.7364 88.6817 34.4825V34.4825Z" fill="#FFC700"/> </svg>
                        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M88.6817 34.4824L63.8868 30.8789L52.8028 8.40821C52.5001 7.79297 52.002 7.29493 51.3868 6.99219C49.8438 6.23047 47.9688 6.86524 47.1974 8.40821L36.1134 30.8789L11.3185 34.4824C10.6349 34.5801 10.0099 34.9023 9.53134 35.3906C8.95284 35.9852 8.63406 36.7852 8.64505 37.6147C8.65604 38.4442 8.99589 39.2354 9.58994 39.8145L27.5294 57.3047L23.2911 82.002C23.1917 82.5765 23.2553 83.1673 23.4746 83.7076C23.694 84.2478 24.0603 84.7157 24.532 85.0584C25.0038 85.401 25.5621 85.6046 26.1436 85.6461C26.7252 85.6875 27.3068 85.5652 27.8224 85.293L50.0001 73.6328L72.1778 85.293C72.7833 85.6152 73.4864 85.7227 74.1603 85.6055C75.8595 85.3125 77.002 83.7012 76.7091 82.002L72.4708 57.3047L90.4102 39.8145C90.8985 39.3359 91.2208 38.7109 91.3185 38.0273C91.5821 36.3184 90.3907 34.7363 88.6817 34.4824V34.4824Z" fill="#CCCCCC"/> </svg>                        
                        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M88.6817 34.4824L63.8868 30.8789L52.8028 8.40821C52.5001 7.79297 52.002 7.29493 51.3868 6.99219C49.8438 6.23047 47.9688 6.86524 47.1974 8.40821L36.1134 30.8789L11.3185 34.4824C10.6349 34.5801 10.0099 34.9023 9.53134 35.3906C8.95284 35.9852 8.63406 36.7852 8.64505 37.6147C8.65604 38.4442 8.99589 39.2354 9.58994 39.8145L27.5294 57.3047L23.2911 82.002C23.1917 82.5765 23.2553 83.1673 23.4746 83.7076C23.694 84.2478 24.0603 84.7157 24.532 85.0584C25.0038 85.401 25.5621 85.6046 26.1436 85.6461C26.7252 85.6875 27.3068 85.5652 27.8224 85.293L50.0001 73.6328L72.1778 85.293C72.7833 85.6152 73.4864 85.7227 74.1603 85.6055C75.8595 85.3125 77.002 83.7012 76.7091 82.002L72.4708 57.3047L90.4102 39.8145C90.8985 39.3359 91.2208 38.7109 91.3185 38.0273C91.5821 36.3184 90.3907 34.7363 88.6817 34.4824V34.4824Z" fill="#CCCCCC"/> </svg>                        
                        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M88.6817 34.4824L63.8868 30.8789L52.8028 8.40821C52.5001 7.79297 52.002 7.29493 51.3868 6.99219C49.8438 6.23047 47.9688 6.86524 47.1974 8.40821L36.1134 30.8789L11.3185 34.4824C10.6349 34.5801 10.0099 34.9023 9.53134 35.3906C8.95284 35.9852 8.63406 36.7852 8.64505 37.6147C8.65604 38.4442 8.99589 39.2354 9.58994 39.8145L27.5294 57.3047L23.2911 82.002C23.1917 82.5765 23.2553 83.1673 23.4746 83.7076C23.694 84.2478 24.0603 84.7157 24.532 85.0584C25.0038 85.401 25.5621 85.6046 26.1436 85.6461C26.7252 85.6875 27.3068 85.5652 27.8224 85.293L50.0001 73.6328L72.1778 85.293C72.7833 85.6152 73.4864 85.7227 74.1603 85.6055C75.8595 85.3125 77.002 83.7012 76.7091 82.002L72.4708 57.3047L90.4102 39.8145C90.8985 39.3359 91.2208 38.7109 91.3185 38.0273C91.5821 36.3184 90.3907 34.7363 88.6817 34.4824V34.4824Z" fill="#CCCCCC"/> </svg>                        
                        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M88.6817 34.4824L63.8868 30.8789L52.8028 8.40821C52.5001 7.79297 52.002 7.29493 51.3868 6.99219C49.8438 6.23047 47.9688 6.86524 47.1974 8.40821L36.1134 30.8789L11.3185 34.4824C10.6349 34.5801 10.0099 34.9023 9.53134 35.3906C8.95284 35.9852 8.63406 36.7852 8.64505 37.6147C8.65604 38.4442 8.99589 39.2354 9.58994 39.8145L27.5294 57.3047L23.2911 82.002C23.1917 82.5765 23.2553 83.1673 23.4746 83.7076C23.694 84.2478 24.0603 84.7157 24.532 85.0584C25.0038 85.401 25.5621 85.6046 26.1436 85.6461C26.7252 85.6875 27.3068 85.5652 27.8224 85.293L50.0001 73.6328L72.1778 85.293C72.7833 85.6152 73.4864 85.7227 74.1603 85.6055C75.8595 85.3125 77.002 83.7012 76.7091 82.002L72.4708 57.3047L90.4102 39.8145C90.8985 39.3359 91.2208 38.7109 91.3185 38.0273C91.5821 36.3184 90.3907 34.7363 88.6817 34.4824V34.4824Z" fill="#CCCCCC"/> </svg>                        
                        {% else %}
                        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M88.6817 34.4825L63.8868 30.8789L52.8028 8.40824C52.5001 7.793 52.002 7.29496 51.3868 6.99222C49.8438 6.2305 47.9688 6.86527 47.1974 8.40824L36.1134 30.8789L11.3185 34.4825C10.6349 34.5801 10.0099 34.9024 9.53134 35.3907C8.95284 35.9853 8.63406 36.7852 8.64505 37.6147C8.65604 38.4442 8.99589 39.2354 9.58994 39.8145L27.5294 57.3047L23.2911 82.002C23.1917 82.5765 23.2553 83.1674 23.4746 83.7076C23.694 84.2478 24.0603 84.7158 24.532 85.0584C25.0038 85.401 25.5621 85.6046 26.1436 85.6461C26.7252 85.6876 27.3068 85.5652 27.8224 85.293L50.0001 73.6328L72.1778 85.293C72.7833 85.6153 73.4864 85.7227 74.1603 85.6055C75.8595 85.3125 77.002 83.7012 76.7091 82.002L72.4708 57.3047L90.4102 39.8145C90.8985 39.336 91.2208 38.711 91.3185 38.0274C91.5821 36.3184 90.3907 34.7364 88.6817 34.4825V34.4825Z" fill="#FFC700"/> </svg>
                        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M88.6817 34.4825L63.8868 30.8789L52.8028 8.40824C52.5001 7.793 52.002 7.29496 51.3868 6.99222C49.8438 6.2305 47.9688 6.86527 47.1974 8.40824L36.1134 30.8789L11.3185 34.4825C10.6349 34.5801 10.0099 34.9024 9.53134 35.3907C8.95284 35.9853 8.63406 36.7852 8.64505 37.6147C8.65604 38.4442 8.99589 39.2354 9.58994 39.8145L27.5294 57.3047L23.2911 82.002C23.1917 82.5765 23.2553 83.1674 23.4746 83.7076C23.694 84.2478 24.0603 84.7158 24.532 85.0584C25.0038 85.401 25.5621 85.6046 26.1436 85.6461C26.7252 85.6876 27.3068 85.5652 27.8224 85.293L50.0001 73.6328L72.1778 85.293C72.7833 85.6153 73.4864 85.7227 74.1603 85.6055C75.8595 85.3125 77.002 83.7012 76.7091 82.002L72.4708 57.3047L90.4102 39.8145C90.8985 39.336 91.2208 38.711 91.3185 38.0274C91.5821 36.3184 90.3907 34.7364 88.6817 34.4825V34.4825Z" fill="#FFC700"/> </svg>
                        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M88.6817 34.4825L63.8868 30.8789L52.8028 8.40824C52.5001 7.793 52.002 7.29496 51.3868 6.99222C49.8438 6.2305 47.9688 6.86527 47.1974 8.40824L36.1134 30.8789L11.3185 34.4825C10.6349 34.5801 10.0099 34.9024 9.53134 35.3907C8.95284 35.9853 8.63406 36.7852 8.64505 37.6147C8.65604 38.4442 8.99589 39.2354 9.58994 39.8145L27.5294 57.3047L23.2911 82.002C23.1917 82.5765 23.2553 83.1674 23.4746 83.7076C23.694 84.2478 24.0603 84.7158 24.532 85.0584C25.0038 85.401 25.5621 85.6046 26.1436 85.6461C26.7252 85.6876 27.3068 85.5652 27.8224 85.293L50.0001 73.6328L72.1778 85.293C72.7833 85.6153 73.4864 85.7227 74.1603 85.6055C75.8595 85.3125 77.002 83.7012 76.7091 82.002L72.4708 57.3047L90.4102 39.8145C90.8985 39.336 91.2208 38.711 91.3185 38.0274C91.5821 36.3184 90.3907 34.7364 88.6817 34.4825V34.4825Z" fill="#FFC700"/> </svg>
                        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M88.6817 34.4825L63.8868 30.8789L52.8028 8.40824C52.5001 7.793 52.002 7.29496 51.3868 6.99222C49.8438 6.2305 47.9688 6.86527 47.1974 8.40824L36.1134 30.8789L11.3185 34.4825C10.6349 34.5801 10.0099 34.9024 9.53134 35.3907C8.95284 35.9853 8.63406 36.7852 8.64505 37.6147C8.65604 38.4442 8.99589 39.2354 9.58994 39.8145L27.5294 57.3047L23.2911 82.002C23.1917 82.5765 23.2553 83.1674 23.4746 83.7076C23.694 84.2478 24.0603 84.7158 24.532 85.0584C25.0038 85.401 25.5621 85.6046 26.1436 85.6461C26.7252 85.6876 27.3068 85.5652 27.8224 85.293L50.0001 73.6328L72.1778 85.293C72.7833 85.6153 73.4864 85.7227 74.1603 85.6055C75.8595 85.3125 77.002 83.7012 76.7091 82.002L72.4708 57.3047L90.4102 39.8145C90.8985 39.336 91.2208 38.711 91.3185 38.0274C91.5821 36.3184 90.3907 34.7364 88.6817 34.4825V34.4825Z" fill="#FFC700"/> </svg>
                        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M88.6817 34.4824L63.8868 30.8789L52.8028 8.40821C52.5001 7.79297 52.002 7.29493 51.3868 6.99219C49.8438 6.23047 47.9688 6.86524 47.1974 8.40821L36.1134 30.8789L11.3185 34.4824C10.6349 34.5801 10.0099 34.9023 9.53134 35.3906C8.95284 35.9852 8.63406 36.7852 8.64505 37.6147C8.65604 38.4442 8.99589 39.2354 9.58994 39.8145L27.5294 57.3047L23.2911 82.002C23.1917 82.5765 23.2553 83.1673 23.4746 83.7076C23.694 84.2478 24.0603 84.7157 24.532 85.0584C25.0038 85.401 25.5621 85.6046 26.1436 85.6461C26.7252 85.6875 27.3068 85.5652 27.8224 85.293L50.0001 73.6328L72.1778 85.293C72.7833 85.6152 73.4864 85.7227 74.1603 85.6055C75.8595 85.3125 77.002 83.7012 76.7091 82.002L72.4708 57.3047L90.4102 39.8145C90.8985 39.3359 91.2208 38.7109 91.3185 38.0273C91.5821 36.3184 90.3907 34.7363 88.6817 34.4824V34.4824Z" fill="#CCCCCC"/> </svg>                            
                        {% endif %}
                </div>                    
                </div>
            </div>
            {%- endfor -%}
        </div>
    </div>
</div>  

{% if section.settings.button_label != blank %}
<div class="text-center" style="margin-top:25px;">
    <a href="{{ section.settings.button_link }}" class="button{% if block.settings.button_style_custom_outline %} button--custom-outline{% else %} button--primary{% endif %}" {{ block.shopify_attributes }}>
        {{ section.settings.button_label | escape }}
    </a>
</div>
{% endif %}

</div>
{% endif %}

<style>
    /* CSS for section custom-testimonial-slider.liquid */

    .custom-reviews-swiper {width: 600px; height: auto;}

    @media screen and (max-width: 650px) {
    .custom-reviews-swiper {width: 100%;}   
}

.swiper#c-testimonial-slider {
    width: 100%;
    height: 100%;
}

.swiper-wrapper#c-testimonial-slider {
    box-sizing: inherit;
}

.swiper-slide#c-testimonial-slider {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #f3f3f3;
    border-radius: 10px;
    color: #000;
    margin-top: 20px;
    padding: 20px;
}

.swiper-button-next#c-testimonial-slider,
.swiper-button-prev#c-testimonial-slider {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid {% if section.settings.white_nav_buttons == true %}#ffffff{% else%}#000000{% endif%}; */
    background-color: transparent;
    color: {% if section.settings.white_nav_buttons == true %}#ffffff{% else%}#000000{% endif%};
    top: 10px;
}


.swiper-button-next#c-testimonial-slider {
    margin-left: 25px;
}

.swiper-button-next#c-testimonial-slider {
right: 0;
}

.swiper-button-next#c-testimonial-slider:after,
.swiper-button-prev#c-testimonial-slider:after {
    font-size: 1.75rem;
    font-weight: bold;
}

.custom-reviews-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.custom-reviews-nav__title {display: flex; justify-content: flex-start;}
.custom-reviews-nav__buttons {
    display: flex;
    justify-content: flex-end;
}

/* .custom-reviews-nav {display: none!important;} */

.review-outcome {margin-top: 10px; display: flex; align-items: center;}
.review-outcome__author {margin: 0; padding: 0; font-size: 90%;}
.review-outcome__stars {display: flex; margin-left: 5px;}
.review-outcome__stars svg {width: 2rem!important; height: 2rem!important;}




</style>

{{ 'custom-reviews.js' | asset_url | script_tag }}

{% schema %}
{
  "name": "Custom Reviews",
  "settings": [
  {
    "type": "text",
    "id": "scroll_id",
    "label": "Scroll id for this section",
     "info": "Use to scroll to this section on button/link clicks"
  },  
  {
    "type": "header",
    "content": "Section title"
},
{
    "type": "text",
    "id": "heading",
    "label": "Heading",
    "default": "Kundomdömen"
},
 {
   "type": "select",
   "id": "heading_size",
   "options": [
     {
       "value": "h2",
       "label": "t:sections.all.heading_size.options__1.label"
     },
     {
       "value": "h1",
       "label": "t:sections.all.heading_size.options__2.label"
     },
     {
       "value": "h0",
       "label": "t:sections.all.heading_size.options__3.label"
     }
   ],
   "default": "h1",
   "label": "t:sections.all.heading_size.label"
 },  
 {
   "type": "header",
   "content": "t:sections.all.padding.section_padding_heading"
 },  
 {
    "type": "header",
    "content": "General CTA button"
}, 
{
    "type": "text",
    "id": "button_label",
    "label": "Button - Label",
    "info": "Hidden if blank"
},
{
    "type": "url",
    "id": "button_link",
    "label": "Button - Link"
},
{
    "type": "color",
    "id": "review_background",
    "label": "Review Background",
    "default": "#FFFEFC"
},
{
    "type": "checkbox",
    "id": "white_nav_buttons",
    "label": "White buttons?",
    "default": false,
    "info": "Tick this box if you're using a darker background"
},
  {
    "type": "select",
    "id": "color_scheme",
    "options": [
      {
        "value": "accent-1",
        "label": "t:sections.all.colors.accent_1.label"
      },
      {
        "value": "accent-2",
        "label": "t:sections.all.colors.accent_2.label"
      },
      {
        "value": "background-1",
        "label": "t:sections.all.colors.background_1.label"
      },
      {
        "value": "background-2",
        "label": "t:sections.all.colors.background_2.label"
      },
      {
        "value": "inverse",
        "label": "t:sections.all.colors.inverse.label"
      }
    ],
    "default": "background-1",
    "label": "t:sections.all.colors.label"
  },
  {
    "type": "range",
    "id": "padding_top",
    "min": 0,
    "max": 100,
    "step": 4,
    "unit": "px",
    "label": "t:sections.all.padding.padding_top",
    "default": 0
  },
  {
    "type": "range",
    "id": "padding_bottom",
    "min": 0,
    "max": 100,
    "step": 4,
    "unit": "px",
    "label": "t:sections.all.padding.padding_bottom",
    "default": 0
  }
  ],
  "blocks": [
  {
    "type": "review",
    "name": "Review",
    "settings": [    
    {
        "type": "text",
        "id": "heading",
        "label": "Testimonial - Heading",
       "default": "Heading"
      },
    {
        "type": "textarea",
        "id": "content",
        "label": "Testimonial - Content",
       "default": "Content"
      },
    {
        "type": "text",
        "id": "author",
        "label": "Testimonial - Author",
       "default": "Author"
      },
     {
         "type": "range",
         "id": "stars",
         "label": "How many stars?",
         "min": 1,
         "max": 5,
         "step": 1,
         "default": 5
     }
    ]
  }
],    
  "presets": [
    {
      "name": "Custom Reviews",
      "category": "Custom"
    }
  ]
}
{% endschema %}